body{
  background-color: #ffffff;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main{
  margin: 15px;
  padding: 30px 270px 30px 270px;
}
/* header */
header h2{
  text-align: center;
  margin: 20px;
  padding-bottom: 20px;
  text-transform: capitalize;
  border-bottom: #484c7f double;
}
/* images */
img{
  margin-top: 100px;
  float: left;
  margin-right: 50px;
  border-radius: 10px;
}

/* nav */
nav{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #484c7f;
  min-height: 10vh;
  letter-spacing: 2px;
}
.nav-bar{
  overflow: hidden;
  position: sticky;
  top: 0;
  width: 100%;
}
.logo{
  text-transform: uppercase;
  color: #f3f4fd;
  font-family: 'Overpass', sans-serif;
}
/* nav links */
.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a{
  color: #f3f4fd;
  text-decoration: none;
  font-weight: bolder;
  letter-spacing: 2px;
  font-family: 'Overpass', sans-serif;
}

/* List of the project hes working on */
.nav-links li{
  list-style: none;
}
.index-page p{
  padding-left: 450px;
  font-family: 'Overpass', sans-serif;
}
h2{
  font-family: 'Overpass', sans-serif;
}

#projects-working li{
  font-family: 'Overpass', sans-serif;
  padding: 10px;
  list-style: none;
  margin: 10px;
  border-radius: 5px;
  border-left: #484c7f solid;
}
#projects-working li:nth-child(even){
  background-color: #f3f4fd;
}
#projects-working li:hover{
  /* border-left: none; */
  border-right: #484c7f solid;
  background-color: #f3f4fd;
  cursor: pointer;
}

.listing{
  padding-left: 450px;
}
.bottom-div{
  padding-top: 25px;
  border-bottom: #484c7f double;
}


/* PUBLICATIONS STYLING */
.name h3{
  text-align: center;
  font-family: 'Overpass', sans-serif;
}

table{
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.centered td{
  text-align: center;
}
table td{
  font-family: 'Overpass', sans-serif;
  text-align: justify;
}
th{
  background-color: #f3f4fd;
  font-family: 'Overpass', sans-serif;
}
.info{
  margin: 10px;
  padding: 10px;
}
.bold td{
  font-family: 'Overpass', sans-serif;
  padding-top: 20px;
}
/* the paragraphs and h3 */

.p p,h2,h3,h4{
  font-family: 'Overpass', sans-serif;
  text-align: center;
  font-weight: bolder;
}

/* styling for teaching and outreach */
.outreach-list li{
  text-align: center;
  margin: 10px;
  padding: 10px;
  list-style: none;
  border-left: #484c7f solid;
  border-right: #484c7f solid;
  border-radius: 10px;
}
.outreach-list li{
  background-color: #f3f4fd;
}